@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* Global Styles */
:root {
	--primary-color: #412f06;
	--dark-color: #aad3ee71;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
	--subText-color: #ffffff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: var(--light-color);
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	z-index: -1;
}

body {
	font-family: 'Acme', sans-serif;
	font-size: 48px;
	font-weight: 900;
	text-align: center;

	line-height: 1.6;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.308), rgba(0, 0, 0, 0.322)),
		url('landing.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: var(--subText-color);
}

ul {
	list-style: none;
}

/* Home Screen Game Play */

.backpack {
	width: 200px;
	position: absolute;
	bottom: 10vh;
	left: 5vw;
	cursor: pointer;
}

.stats {
	position: fixed;
	top: 25px;
	left: 100px;
	width: 25vw;
	border: #412f06 double;
}

/* Grid */
.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 2rem;
	overflow-y: auto;
}

.grid-2-3 {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 2rem;
}

.badge {
	padding: 0.2rem 0.7rem;
	text-align: center;
	margin: 0.3rem;
}

.alert {
	padding: 0.7rem;
	margin: 1rem 0;
	opacity: 0.9;
	background: var(--light-color);
	color: #333;
}

.round-img {
	border-radius: 50%;
}
