@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* Global Styles */
:root {
	--primary-color: #412f06;
	--dark-color: #aad3ee71;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
	--subText-color: #ffffff;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

.webgl {
	position: fixed;
	top: 0;
	left: 0;
	outline: none;
	z-index: -1;
}

body {
	font-family: 'Acme', sans-serif;
	font-size: 48px;
	font-weight: 900;
	text-align: center;

	line-height: 1.6;
	background-image: url('landing.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: var(--subText-color);
}

a {
	color: var(--subText-color);
	text-decoration: none;
}

a:hover {
	color: #fff;
}

ul {
	list-style: none;
}

img {
	width: 100%;
}
/* Home Screen Game Play */

.backpack {
	width: 3vw;
	position: absolute;
	bottom: 5vw;
	left: 5vw;
	cursor: pointer;
}

.stats {
	background: #000;
	width: 33vw;
	height: 10vh;
	position: fixed;
	left: 5vw;
	top: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.statsList {
	display: flex;
	flex-direction: row;
	font-size: 20px;
}
.statsList li {
	padding: 0px 10px;
}

#health {
	width: 100%;
	height: 10px;
	/* margin: auto; */
	background: rgb(255, 0, 0);
	transform: scaleX(0.1);
	transform-origin: top left;
	transition: transform 1s;
}

#energy {
	width: 100%;
	height: 10px;
	/* margin: auto; */
	background: rgb(217, 255, 0);
	transform: scaleX(0.1);
	transform-origin: top left;
	transition: transform 1s;
}

/* Utilities */
.container {
	max-width: 1100px;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;

	/* background: #000; */
}

/* Text Styles*/

.text-center {
	text-align: center;
}

.text-primary {
	font-family: 'Acme', sans-serif;
	font-size: 20px;

	font-weight: 900;
	color: var(--primary-color);
}
.text-secondary {
	font-family: 'Acme', sans-serif;
	font-size: 10px;

	font-weight: 900;
	color: var(--primary-color);
}

.text-dark {
	color: var(--dark-color);
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

/* Cards */
.card {
	padding: 1rem;
	border: #ccc 1px dotted;
	margin: 0.7rem 0;
	height: fit-content;
}

.card .description {
	font-size: 15px;
}

/* List */
.list {
	margin: 0.5rem 0;
	font-size: 5px;
}

.list li {
	padding-bottom: 0.3rem;
}

/* Padding */
.p {
	padding: 0.5rem;
}
.p-1 {
	padding: 1rem;
}
.p-2 {
	padding: 2rem;
}
.p-3 {
	padding: 3rem;
}
.py {
	padding: 0.5rem 0;
}
.py-1 {
	padding: 1rem 0;
}
.py-2 {
	padding: 2rem 0;
}
.py-3 {
	padding: 3rem 0;
}

/* Margin */
.m {
	margin: 0.5rem;
}
.m-1 {
	margin: 1rem;
}
.m-2 {
	margin: 2rem;
}
.m-3 {
	margin: 3rem;
}
.my {
	margin: 0.5rem 0;
}
.my-1 {
	margin: 1rem 0;
}
.my-2 {
	margin: 2rem 0;
}
.my-3 {
	margin: 3rem 0;
}

/* Grid */
.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 2rem;
}

.grid-2-3 {
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-gap: 2rem;
}

.btn {
	display: inline-block;
	position: relative;

	bottom: 0px;
	background: var(--light-color);
	color: #333;
	padding: 0.4rem 1.3rem;

	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	margin-top: auto;
	transition: opacity 0.2s ease-in;
	outline: none;
}

.btn-link {
	background: none;
	padding: 0;
	margin: 0;
}

.btn-block {
	display: block;
	width: 100%;
}

.btn-sm {
	padding: 0.3rem 1rem;
	margin-right: 0.2rem;
	font-size: 15px;
}

.badge {
	padding: 0.2rem 0.7rem;
	text-align: center;
	margin: 0.3rem;
	background: var(--light-color);
	color: #333;
	border-radius: 5px;
}

.alert {
	padding: 0.7rem;
	margin: 1rem 0;
	opacity: 0.9;
	background: var(--light-color);
	color: #333;
}

.btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
	background: var(--primary-color);
	color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
	background: var(--light-color);
	color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
	background: var(--dark-color);
	color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
	background: var(--danger-color);
	color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
	background: var(--success-color);
	color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
	background: #fff;
	color: #333;
	border: #ccc solid 1px;
}

.btn:hover {
	opacity: 0.8;
}

.bg-light,
.badge-light {
	border: #ccc solid 1px;
}

.round-img {
	border-radius: 50%;
}

/* Forms */
input {
	margin: 1.2rem 0;
	border-radius: 3px;
}

.form-text {
	display: block;
	margin-top: 0.3rem;
	color: #888;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;

	border: 1px solid #ccc;
}

input[type='submit'],
button {
	font: inherit;
}

.form-group {
	margin: 1.2rem 0;
}

.form-group input {
	margin: 0.2rem 0;
}

.form-container {
	max-width: 500px;
	margin: 2rem auto;
	overflow: hidden;
	padding: 0 2rem;
}

.form-container h1,
h2,
h3 {
	text-align: center;
}

table th,
table td {
	padding: 1rem;
	text-align: left;
}

table th {
	background: var(--light-color);
}

/* Navbar */
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.7rem 2rem;
	z-index: 1;
	width: 100%;
	opacity: 0.9;
	margin-bottom: 1rem;
}

.navbar ul {
	display: flex;
}

.navbar a {
	color: var(--subText-color);
	padding: 0.45rem;
	margin: 0 0.25rem;
}

.navbar a:hover {
	color: var(--light-color);
}

.navbar .welcome span {
	margin-right: 0.6rem;
}

/* Animation (Add After) */
.item-enter {
	opacity: 0;
}
.item-enter-active {
	opacity: 1;
	transition: opacity 1000ms ease-in;
}
.item-exit {
	opacity: 1;
}
.item-exit-active {
	opacity: 0;
	transition: opacity 1000ms ease-in;
}

/* Mobile Styles */
@media (max-width: 700px) {
	.hide-sm {
		display: none;
	}

	.grid-2,
	.grid-3,
	.grid-4 {
		grid-template-columns: 1fr;
	}

	/* Navbar */
	.navbar {
		display: block;
		text-align: center;
	}

	.navbar h1 {
		margin-bottom: 0.6rem;
	}

	.navbar ul {
		text-align: center;
		justify-content: center;
	}
}
