@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

:root {
	--white-color: #eeedea;
	--dark-color: #aad3ee71;
	--light-color: #f4f4f4;
	--danger-color: #dc3545;
	--success-color: #28a745;
	--subText-color: #ffffff;
}

body {
	font-family: 'Acme', sans-serif;
}
label {
	color: var(--white-color);
	font-size: 2rem;
}

.btn {
	color: var(--white-color);
}

a {
	color: var(--white-color);
	text-decoration: none;
	font-size: 2rem;
}

a:hover {
	text-decoration: none;
}

/* Loading Bar & Screen Code */

.loadingText {
	position: absolute;
	top: 85%;
	margin: auto;
	padding: 5px 5px;
	width: 100%;
	text-align: center;

	font-size: 1.2vw;
	color: #000000;
	opacity: 1;
	transition: opacity 2s;
}

.loadingText.ended,
.author.ended {
	opacity: 0;
	transition: opacity 2s;
}
.loading-bar {
	position: absolute;
	top: 80%;
	width: 100%;
	height: 4px;
	background: rgb(0, 0, 0);
	transform: scaleX(0);
	transform-origin: top left;
	transition: transform 1s;
}

.loading-bar.ended {
	transform: scaleX(0);
	transform-origin: 100% 0;
	transition: transform 1.5s ease-in-out;
}

.instructions {
	position: absolute;
	width: 50vw;
	height: 50vh;
	top: 25vh;
	left: 25vw;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	color: #fff;

	font-size: 1rem;
	line-height: 1.6;

	background-color: rgba(0, 0, 0, 0.787);
	transform: scale(0, 0);
	transform-origin: bottom left;
	transition: transform 1s ease-in-out;
	border-radius: 4px;
}

.instructions.visible {
	transform: scale(1, 1);
}

.playOuter {
	width: 100px;
	height: 50px;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#play {
	border: #fff solid;
	border-radius: 4px;
	padding: 10px 15px;
	cursor: pointer;
}
#play:hover {
	border: #fff dotted;
	padding: 15px 20px;
}

#play.hide {
	display: none;
}
